{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1>Add</h1>
    <br>
    <form action="/dashboard" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="Name" type="text">
        </div>
        <div class="mb-3">
            <textarea
                autocomplete="off"
                class="form-control mx-auto"
                name="svg"
                placeholder="Paste SVG code here"
                rows="12"
                style="max-width: 800px;"
            ></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
